@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .sentence-case::first-letter {
    text-transform: capitalize;
  }
}

@layer components {
  .bg-gradient-brand {
    @apply bg-gradient-to-br from-emerald-700 to-lime-600
  }

  .text-gradient-brand {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-emerald-700 to-lime-600 dark:from-lime-300 dark:to-emerald-500 print:text-lime-700;
  }

  .body-link {
    color: theme('colors.lime.700');
    box-shadow: inset 0 -1px 0 0 theme('colors.emerald.200');
    border-bottom: 1px solid theme('colors.emerald.200');
    font-weight: 500;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: inset 0 -1.25em 0 0 theme('colors.emerald.200');
      color: theme('colors.lime.900');
    }
    @media (prefers-color-scheme: dark) {
      color: theme('colors.lime.500');
      box-shadow: inset 0 -1px 0 0 theme('colors.emerald.800');
      border-bottom-color: theme('colors.emerald.800');
      &:hover {
        box-shadow: inset 0 -1.25em 0 0 theme('colors.emerald.800');
        color: theme('colors.lime.400');
      }
    }
  }
}
